.thumbnail-list {
  margin-bottom: 10px;
}

.thumbnail-img {
  height: 50px;
  width: 50px;
}

.img-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .thumbnail-img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  .thumbnail-img {
    height: 110px;
    width: 110px;
  }
}
@media screen and (min-width: 992px) {
  .thumbnail-img {
    height: 140px;
    width: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .thumbnail-img {
    height: 150px;
    width: 150px;
  }
}
